<template>
  <Page>
    <ActionBar title="Task Lists" />
    <StackLayout>
      <Label class="message" :text="msg" col="0" @tap="onTap" row="0" />
      <Button text="test" @tap="onNav" />
      <Button text="Goto Dashboard" @tap="$navigateTo(dashboard)" />
    </StackLayout>
  </Page>
</template>

<script lang="ts">
import { sayHi } from './helpers';
import Page2 from './Page2.vue';
import Dashboard from '../pages/Dashboard.vue';

export default {
  data() {
    return {
      msg: 'Hello World!',
      dashboard: Dashboard
    };
  },

  methods: {
    onNav() {
      (this as any).$navigateTo(Page2);
    },
    onTap() {
      console.log('before hi');
      sayHi();
    }
  }
};
</script>

<style scoped>
/* ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    } */

/* .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    } */
</style>
