<template>
  <Page>
    <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
      <StackLayout orientation="horizontal" class="content-wrapper">
        <ContentView class="card" v-touchScale v-shadow>
          <Image src="~/images/image1.png" width="350" stretch="aspectFit" />
        </ContentView>

        <ContentView class="card" v-touchScale v-shadow>
          <Image src="~/images/image2.png" width="350" stretch="aspectFit" />
        </ContentView>

        <ContentView class="card" v-touchScale v-shadow>
          <Image src="~/images/image3.png" width="350" stretch="aspectFit" />
        </ContentView>
      </StackLayout>
    </ScrollView>
  </Page>
</template>

<script lang="ts">
import Vue from 'nativescript-vue';
import { sayHi } from './helpers';
import shadow from '../directives/shadow';
import touchScale from '../directives/touchScale';

export default {
  directives: {
    shadow,
    touchScale
  },
  methods: {
    onTap() {
      sayHi();
    }
  }
};
</script>

<style scoped>
Page {
  background-color: rgb(195, 225, 251);
}

.content-wrapper {
  background-color: rgb(195, 225, 251);
  margin: 20 0 20 0;
  padding: 20 0 20 0;
}

.card {
  margin: 10;
  background-color: white;
}
</style>
