// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.fa {
  font-family: 'FontAwesome';
}

.far {
  font-family: 'Font Awesome 5 Pro', 'fa-regular-400';
  font-weight: 400;
}

.fas {
  font-family: 'Font Awesome 5 Pro', 'fa-solid-900';
  font-weight: 900;
}

.fab {
  font-family: 'Font Awesome 5 Brands', 'fa-brands-400';
  font-weight: 400;
}
