<template>
  <Page actionBarHidden="true">
    <GridLayout>
      <StackLayout>
        <Label text="Account page"></Label>
        <Button text="Logout" @tap="onLogout" />
        <Button text="Tabs" @tap="$navigator.navigate('/tabs')" />
        <Button text="Bottom Tabs" @tap="$navigator.navigate('/bnav')" />
        <Button text="Dashboard" @tap="$navigator.navigate('/dashboard')" />
      </StackLayout>
    </GridLayout>
  </Page>
</template>

<script>
import { logout } from '../helpers';
export default {
  methods: {
    onLogout() {
      logout();
      this.$navigator.navigate('/login', { clearHistory: true });
    }
  }
};
</script>

<style scoped></style>
