<template>
  <Page actionBarHidden="true">
    <BottomNavigation v-iosTranslucent>
      <TabStrip>
        <TabStripItem>
          <Label text="Home"></Label>
          <Image src.decode="font://&#xf015;" class="fa"></Image>
        </TabStripItem>
        <TabStripItem>
          <Label text="Items"></Label>
          <Image src.decode="font://&#xf012;" class="fa"></Image>
        </TabStripItem>

        <TabStripItem class="special">
          <Label text="Search"></Label>
          <Image src.decode="font://&#xf002;" class="fa" />
        </TabStripItem>
        <TabStripItem class="special">
          <Label text="Account"></Label>
          <Image src.decode="font://&#xf007;" class="fa"></Image>
        </TabStripItem>
      </TabStrip>
      <TabContentItem>
        <Navigator id="homeTabFrame" defaultRoute="/home" />
      </TabContentItem>
      <TabContentItem>
        <Navigator id="itemsTabFrame" defaultRoute="/items" />
      </TabContentItem>

      <TabContentItem>
        <Navigator id="searchTabFrame" defaultRoute="/search" />
      </TabContentItem>
      <TabContentItem>
        <Navigator id="accountTabFrame" defaultRoute="/account" />
      </TabContentItem>
    </BottomNavigation>
  </Page>
</template>

<script>
export default {};
</script>

<style scoped>
/* ActionBar,
TabStrip {
  background-color: #6200ee; 
   color: #ffffff;
} */

TabStripItem {
  color: #858585;
}

TabStripItem:active {
  color: #006eff;
}

TabStripItem label {
  font-size: 12;
}

TabStripItem image {
  font-size: 25;
}
</style>
