<template>
  <Page>
    <ActionBar title="Home"> </ActionBar>

    <BottomNavigation>
      <TabStrip>
        <TabStripItem>
          <Label text="BotNav 1"></Label>
        </TabStripItem>
        <TabStripItem>
          <Label text="BotNav 2"></Label>
        </TabStripItem>
        <TabStripItem>
          <Label text="BotNav 3"></Label>
        </TabStripItem>
      </TabStrip>

      <TabContentItem>
        <Tabs>
          <TabStrip>
            <TabStripItem>
              <Label text="Tabs 1"></Label>
            </TabStripItem>
            <TabStripItem>
              <Label text="Tabs 2"></Label>
            </TabStripItem>
            <TabStripItem>
              <Label text="Tabs 3"></Label>
            </TabStripItem>
          </TabStrip>

          <TabContentItem>
            <StackLayout>
              <Label
                text="Tabs Content 1"
                class="h1 text-center p-t-20"
              ></Label>
            </StackLayout>
          </TabContentItem>

          <TabContentItem>
            <StackLayout>
              <Label
                text="Tabs Content 2"
                class="h1 text-center p-t-20"
              ></Label>
            </StackLayout>
          </TabContentItem>

          <TabContentItem>
            <StackLayout>
              <Label
                text="Tabs Content 3"
                class="h1 text-center p-t-20"
              ></Label>
            </StackLayout>
          </TabContentItem>
        </Tabs>
      </TabContentItem>

      <TabContentItem>
        <StackLayout>
          <ScrollView>
            <StackLayout>
              <Image
                src="https://en.es-static.us/upl/2018/06/sun-pillar-6-25-2018-Peter-Gipson-sq.jpg"
                height="200"
                stretch="aspectFill"
              ></Image>
              <Image
                src="https://live.staticflickr.com/4689/38703929614_f06412345c_b.jpg"
                height="200"
                stretch="aspectFill"
              ></Image>
              <Image
                src="https://www.visitcalifornia.com/sites/default/files/VC_LaJollaSunsets_RF_168579929_1280x640_0.jpg"
                height="200"
                stretch="aspectFill"
              ></Image>
              <Image
                src="https://www.iamexpat.nl/sites/default/files/styles/article--full/public/windmills-at-beautiful-sunrise-netherlands.jpg?itok=u2M9p2MF"
                height="200"
                stretch="aspectFill"
              ></Image>
              <Image
                src="https://en.es-static.us/upl/2018/06/sun-pillar-6-25-2018-Peter-Gipson-sq.jpg"
                height="200"
                stretch="aspectFill"
              ></Image>
            </StackLayout>
          </ScrollView>
        </StackLayout>
      </TabContentItem>

      <TabContentItem>
        <StackLayout>
          <Label
            text="Bottom Nav Content 3"
            class="h1 text-center p-t-20"
          ></Label>
          <Button
            text="Logout"
            @tap="$navigator.navigate('/login', { clearHistory: true })"
          />
        </StackLayout>
      </TabContentItem>
    </BottomNavigation>
  </Page>
</template>

<script>
import iosTranslucent from '../directives/iosTranslucent';
export default {
  directives: {
    iosTranslucent
  }
};
</script>

<style scoped>
Page {
  background-color: rgb(195, 225, 251);
}

ActionBar,
TabStrip {
  background-color: #6200ee;
  color: #ffffff;
}

TabStripItem {
  color: #b68af7;
}

TabStripItem:active {
  color: #ffffff;
}

TabStripItem label {
  font-size: 12;
}

TabStripItem image {
  font-size: 36;
}

TabContentItem {
  background-color: lightgray;
}
</style>
