<template>
  <Page>
    <ActionBar>
      <Label text="Home"></Label>
    </ActionBar>
    <StackLayout>
      <StackLayout>
        <ScrollView scrollBarIndicatorVisible="false">
          <StackLayout>
            <Image
              src="https://en.es-static.us/upl/2018/06/sun-pillar-6-25-2018-Peter-Gipson-sq.jpg"
              height="200"
              stretch="aspectFill"
            ></Image>
            <Image
              src="https://live.staticflickr.com/4689/38703929614_f06412345c_b.jpg"
              height="200"
              stretch="aspectFill"
            ></Image>
            <Image
              src="https://www.visitcalifornia.com/sites/default/files/VC_LaJollaSunsets_RF_168579929_1280x640_0.jpg"
              height="200"
              stretch="aspectFill"
            ></Image>
            <Image
              src="https://www.iamexpat.nl/sites/default/files/styles/article--full/public/windmills-at-beautiful-sunrise-netherlands.jpg?itok=u2M9p2MF"
              height="200"
              stretch="aspectFill"
            ></Image>
            <Image
              src="https://en.es-static.us/upl/2018/06/sun-pillar-6-25-2018-Peter-Gipson-sq.jpg"
              height="200"
              stretch="aspectFill"
            ></Image>
          </StackLayout>
        </ScrollView>
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
export default {};
</script>
