<template>
  <Page>
    <StackLayout>
      <Label text="Login page" textWrap="true" />
      <Button text="Login" @tap="onLogin" />
    </StackLayout>
  </Page>
</template>

<script>
import { login } from '../helpers';
export default {
  methods: {
    onLogin() {
      login();
      this.$navigator.navigate('/bnav', { clearHistory: true });
    }
  }
};
</script>
