<template>
  <Page actionBarHidden="true">
    <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
      <StackLayout orientation="horizontal" class="content-wrapper">
        <ContentView class="card" v-shadow v-touchScale>
          <Image src="~/images/image1.png" width="350" stretch="aspectFit" />
        </ContentView>

        <ContentView class="card" v-touchScale v-shadow>
          <Image src="~/images/image2.png" width="350" stretch="aspectFit" />
        </ContentView>

        <ContentView class="card" v-touchScale v-shadow>
          <Image src="~/images/image3.png" width="350" stretch="aspectFit" />
        </ContentView>
      </StackLayout>
    </ScrollView>
  </Page>
</template>

<script>
export default {};
</script>

<style scoped>
.info {
  font-size: 20;
  horizontal-align: center;
  vertical-align: center;
}

Page {
  background-color: rgb(195, 225, 251);
}

.content-wrapper {
  background-color: rgb(195, 225, 251);
  margin: 20 0 20 0;
  padding: 20 0 20 0;
}

.card {
  margin: 10;
  background-color: white;
}
</style>
