<template>
  <Page>
    <Tabs selectedIndex="1" tabsPosition="bottom" swipeEnabled="false">
      <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
      <TabStrip>
        <TabStripItem>
          <Label text="Home"></Label>
          <!-- <Image src="font://&#xf015;" class="fas"></Image> -->
          <Image src.decode="font://&#xf015;" class="fa"></Image>
        </TabStripItem>
        <TabStripItem class="special">
          <Label text="Account"></Label>
          <!-- <Image src="font://&#xf007;" class="fas"></Image> -->
          <Image src.decode="font://&#xf007;" class="fa"></Image>
        </TabStripItem>
        <TabStripItem class="special">
          <Label text="Search"></Label>
          <!-- <Image src="font://&#xf00e;" class="fas"></Image> -->
          <Image src.decode="font://&#xf00e;" class="fa"></Image>
        </TabStripItem>
      </TabStrip>

      <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
      <TabContentItem>
        <GridLayout>
          <Label text="Home Page" class="h2 text-center"></Label>
        </GridLayout>
      </TabContentItem>
      <TabContentItem>
        <GridLayout>
          <Label text="Account Page" class="h2 text-center"></Label>
        </GridLayout>
      </TabContentItem>
      <TabContentItem>
        <GridLayout>
          <Label text="Search Page" class="h2 text-center"></Label>
        </GridLayout>
      </TabContentItem>
    </Tabs>
  </Page>
</template>

<script>
export default {};
</script>
